* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container{
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        height: 45px;
      
}
body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
}
li {
    display: inline;
    color: #025157;
  }

  .textogrande{
    text-align: center;
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
  }
h4 {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.navbar{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
h1 {
  color: #025157;
  text-align: center;
  padding-top: 100px;
  font-family: "Alegreya", serif;
}
p {
    color: #8b8b8bcc;
    margin-top: 25px;
    text-align: center;
}
.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
}
.actions a {
  color: #67b54b;
}
a.nav-link{
  color: #025157;
  margin-right: 14px;
  margin-left: 14px;
  padding-bottom: 10px;
  padding-top: 14px;
}
.navbar-image{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 16px;
  line-height: inherit;
  white-space: nowrap;
}
form {
  height: 55px;
}
input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 250px; 
  height: 60px;
  margin-right: -10px;
  font:  16px "Open Sans", sans-serif;
}
.signup-form{
  text-align: center;
  color: #212529;
  font:  16px "Open Sans", sans-serif;
}
.signup-form button{
  background:#025157;
  color: white;
  width: 150px; 
  height: 60px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font:  16px "Open Sans", sans-serif;
}
figure {
  text-align: center;
  margin-top: 32px;
}
img {
  text-align: center;
  
}
.ajuste{
  width: 90%;
}
.footer {
  padding: 5% 10% 2%;
  margin: 0;
  max-width: unset;
}
h2{
  text-align: center;
}
