/* h1 {
  color: #025157;
} */

#Cabecera{
    color: #025157;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: #fffbf7;
margin-left: 10px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
button {
    border-color: white;
    background-color: rgb(41, 12, 88);
    color: white;
}

h4 {
    color: rgb(125, 148, 156);
}
p{
    color: #025157;
}
/* .drop { 
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    align-items: center;
    margin: 10px;
    display: inline-block; 
} */
.navbar{
    background-color: #f0bb86;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-light .navbar-brand {
    color: rgba(250, 199, 199, 0.9);
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
/* .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
} */
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("botton.png");
}
.navbar-light .navbar-toggler {
    border-color: #025157;
}
/* .collapse:not(.show) {
    display: none;
} */
/* .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
} */
li {
    display: inline;
    border-color: darkorange;
  }
  .header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }

  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar-light .nav-item .nav-link {
    color: #3b4683;
}
.Form1{
    margin-left: 10px;
}
